<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <style>
        body, html {
            height: 100%;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .content-wrapper {
            width: 100%;
            max-width: 600px;
        }
        .btn-primary {
            width: 100%;
            margin-top: 10px;
        }
        .titulo-consulta {
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>
<body>

    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>

    <div class="container">
        <div class="content-wrapper">
            <h1 class="titulo-consulta">Consulta {{ consulta.id }}</h1>
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <td>{{ consulta.id }}</td>
                </tr>
                <tr>
                    <th>Valor</th>
                    <td>{{ consulta.valor }}</td>
                </tr>
                <tr>
                    <th>Data</th>
                    <td>{{ consulta.data.strftime('%d/%m/%Y') }}</td>
                </tr>
                <tr>
                    <th>Horário</th>
                    <td>{{ consulta.horario.strftime('%H:%M') }}</td>
                </tr>
                <tr>
                    <th>Recepcionista</th>
                    <td>{{ consulta.recepcionista.nome }}</td>
                </tr>
                <tr>
                    <th>Médico</th>
                    <td>{{ consulta.medico.nome }}</td>
                </tr>
                <tr>
                    <th>Prontuário do Paciente</th>
                    <td>{{ consulta.prontuario_paciente.nome }}</td>
                </tr>
                <tr>
                    <th>Plano de Saúde</th>
                    <td>{{ consulta.plano_de_saude.nome }}</td>
                </tr>
            </table>
            <a href="{{ url_for('ver_consultas') }}" class="btn btn-primary">Voltar</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>
