<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>

    <div class="container">
        <h1 class="mb-4">Detalhes da Consulta</h1>
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ consulta.id }}</li>
            <li class="list-group-item"><strong>Valor:</strong> {{ consulta.valor }}</li>
            <li class="list-group-item"><strong>Data:</strong> {{ consulta.data }}</li>
            <li class="list-group-item"><strong>Horário:</strong> {{ consulta.horario }}</li>
            <li class="list-group-item"><strong>Recepcionista:</strong> {{ consulta.fk_recepcionista_id }}</li>
            <li class="list-group-item"><strong>Médico:</strong> {{ consulta.fk_medico_id }}</li>
            <li class="list-group-item"><strong>Prontuário Paciente:</strong> {{ consulta.fk_prontuario_paciente }}</li>
            <li class="list-group-item"><strong>Plano de Saúde:</strong> {{ consulta.fk_plano_de_saude_id }}</li>
        </ul>
        <a href="{{ url_for('ver_consultas') }}" class="btn btn-primary mt-3">Voltar</a>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
