<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'Editar Log' if editar else 'Cadastrar Log' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <style>
        .form-container {
            max-width: 600px;
            width: 100%;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border: 1px solid #ced4da;
            margin: auto;
        }
        .display-4 {
            font-weight: 500;
        }
        .col-md-6 {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>
    <div class="container">
        <div class="form-container">
            <div class="col-md-6">
                <h1 class="text-center">{{ 'Editar Log' if editar else 'Cadastrar Log' }}</h1>
                <form method="POST" action="{% if editar %}{{ url_for('editar_log', id=log_editar.id) }}{% else %}{{ url_for('cadastrar_log') }}{% endif %}">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="hora" class="form-label">{{ form.hora.label }}</label>
                        {{ form.hora(class="form-control", id="hora") }}
                        {% for error in form.hora.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="hash_log" class="form-label">{{ form.hash_log.label }}</label>
                        {{ form.hash_log(class="form-control", id="hash_log") }}
                        {% for error in form.hash_log.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">{{ 'Atualizar' if editar else 'Cadastrar' }}</button>
                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="mt-3">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
