<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ver Log</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <style>

.form-container {
            max-width: 600px;
            width: 100%;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border: 1px solid #ced4da;
            margin: auto;
        }
        .display-4 {
            font-weight: 500;
        }

  </style>

</head>
<body>
  <header class="bg-primary text-white text-center py-4 mb-5">
   
