<!-- templates/planosaude/listar_planos.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Planos de Saúde</title>
    <!-- Inclusão do Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Lista de Planos de Saúde</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plano in planos %}
                            <tr>
                                <th scope="row">{{ plano.id }}</th>
                                <td>{{ plano.nome }}</td>
                                <td>
                                    <a href="{{ url_for('ver_plano', id=plano.id) }}" class="btn btn-sm btn-info">Ver</a>
                                    <a href="{{ url_for('editar_plano', id=plano.id) }}" class="btn btn-sm btn-primary">Editar</a>
                                    <form action="{{ url_for('excluir_plano', id=plano.id) }}" method="post" style="display: inline-block;">
                                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este plano de saúde?')">Excluir</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ url_for('cadastrar_plano') }}" class="btn btn-primary">Novo Plano de Saúde</a>
            </div>
        </div>
    </div>

    <!-- Inclusão do JavaScript do Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
