<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Plano de Saúde</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Detalhes do Plano de Saúde
            </div>
            <div class="card-body">
                <h5 class="card-title">Nome: {{ plano.nome }}</h5>
                <a href="{{ url_for('editar_plano', id=plano.id) }}" class="btn btn-primary">Editar</a>
                <a href="{{ url_for('listar_planos') }}" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
