<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Recepcionista</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>
    <div class="container mt-5">
        <h1 class="text-center">Detalhes da Recepcionista</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nome: {{ recepcionista.nome }}</h5>
                <p class="card-text"><strong>Email:</strong> {{ recepcionista.email }}</p>
                <p class="card-text"><strong>Telefone:</strong> {{ recepcionista.telefone }}</p>
            </div>
        </div>
        <a href="{{ url_for('ver_recepcionistas') }}" class="btn btn-secondary mt-3">Voltar</a>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
