<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <div class="container mt-5">       
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for especialidade in especialidades %}
                    <tr>
                        <td>{{ especialidade.id }}</td>
                        <td><a href="{{url_for('ver_uma_especial',id=especialidade.id)}}">{{ especialidade.nome }}</a></td>
                        <td><a href="{{ url_for('editar_especialidade', id=especialidade.id) }}">alterar</a></td>
                        <td><a href="{{ url_for('remover_especialidade', id=especialidade.id) }}">remover</a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="#"> <button type="submit" class="btn btn-primary">Cadastrar</button></a>       
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>