<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de uma especialidade</title>
</head>
<body>

    <div class="card">
        <div class="card-header">
           Dados do Nível
        </div>
   
        <div class="card-body">
           <h4 class="card-title"> id: {{ especial.id}} </h4>
           <h5> nome: {{ especial.nome }}</h5>
        </div>
   
     </div>
    
</body>
</html>