<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Médico</title>
</head>
<body>
    <h1>Cadastrar Médico</h1>
    <form method="POST" action="{{ url_for('cadastrar_medico') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nome.label }}<br>
            {{ form.nome(size=32) }}<br>
            {% for error in form.nome.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.telefone.label }}<br>
            {{ form.telefone(size=32) }}<br>
            {% for error in form.telefone.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.cpf.label }}<br>
            {{ form.cpf(size=32) }}<br>
            {% for error in form.cpf.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.crm.label }}<br>
            {{ form.crm(size=32) }}<br>
            {% for error in form.crm.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p><input type="submit" value="Cadastrar"></p>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
