<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'Editar Médico' if editar else 'Cadastrar Médico' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <header class="bg-primary text-white text-center py-4 mb-5">
        <div class="container">
            <h1 class="display-4">StarClinic</h1>
        </div>
    </header>
    <div class="container">
        <h1 class="text-center">{{ 'Editar Médico' if editar else 'Cadastrar Médico' }}</h1>
        <form method="POST" action="{% if editar %}{{ url_for('editar_medico', id=medico_editar.id) }}{% else %}{{ url_for('cadastrar_medico') }}{% endif %}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="nome" class="form-label">{{ form.nome.label }}</label>
                {{ form.nome(class="form-control", id="nome") }}
                {% for error in form.nome.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">{{ form.telefone.label }}</label>
                {{ form.telefone(class="form-control", id="telefone") }}
                {% for error in form.telefone.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label">{{ form.cpf.label }}</label>
                {{ form.cpf(class="form-control", id="cpf") }}
                {% for error in form.cpf.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="crm" class="form-label">{{ form.crm.label }}</label>
                {{ form.crm(class="form-control", id="crm") }}
                {% for error in form.crm.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
            <label for="especialidade" class="form-label">{{ form.especialidade_id.label }}</label>
            <select id="especialidade_id", name="especialidade_id" class="form-control">
                {% for id, nome in form.especialidade_id.choices %}
                    <option value="{{ id }}">{{nome}}</option>
                {% endfor %}

            </select>

            </div>
            <button type="submit" class="btn btn-primary w-100">{{ 'Atualizar' if editar else 'Cadastrar' }}</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
